<a href="https://colab.research.google.com/github/Anirudh-R-1201/RecommendationSystem/blob/master/KeyPhraseExtraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving PlayStoreReviews_India_Aug8.xlsx to PlayStoreReviews_India_Aug8.xlsx

In [ ]:
import pandas as pd 
import io 
df = pd.read_excel(io.BytesIO(uploaded['PlayStoreReviews_India_Aug8.xlsx'])) 
df2 = df

In [ ]:
count = df.groupby("Review", as_index=False).count()
mean = df.groupby("Review", as_index=False).mean()
df_temp = pd.merge(df, count, how='right', on=['Review'])
df_temp = pd.merge(df_temp, mean, how='right', on=['Review'])
df_temp[:5]

  Country_x App_x         Date_x  ... Customer_y  Rating_y Rating
0     India  HSBC  July 21, 2020  ...          1         1      1
1     India  HSBC  July 14, 2020  ...          1         1      1
2     India  HSBC  July 19, 2020  ...          1         1      1
3     India  HSBC   June 4, 2020  ...          1         1      1
4     India  HSBC   May 26, 2020  ...          1         1      1

[5 rows x 12 columns]

In [ ]:
df1 = df_temp.groupby("App_x", as_index=False).mean()
combine_summary = df_temp.groupby("App_x")["Review"].apply(list)
combine_summary = pd.DataFrame(combine_summary)
combine_summary.to_csv("combine_summary.csv")
df1

                App_x  Rating_x  Country_y  ...  Customer_y  Rating_y  Rating
0           Axis Bank     2.365       1.00  ...        1.00      1.00   2.365
1                Citi     2.365       1.00  ...        1.00      1.00   2.365
2          Freecharge     2.170       1.00  ...        1.00      1.00   2.170
3           HDFC Bank     1.310       1.01  ...        1.01      1.01   1.310
4                HSBC     1.725       1.00  ...        1.00      1.00   1.725
5          ICICI Bank     1.890       1.00  ...        1.00      1.00   1.890
6          Kotak Bank     2.345       1.00  ...        1.00      1.00   2.345
7            Mobikwik     2.090       1.00  ...        1.00      1.00   2.090
8               PayTM     1.945       1.00  ...        1.00      1.00   1.945
9             PayZapp     1.600       1.00  ...        1.00      1.00   1.600
10            PhonePe     1.870       1.00  ...        1.00      1.00   1.870
11            Pockets     1.720       1.00  ...        1.00      1.00   1.720
12          SBI Cards     2.425       1.00  ...        1.00      1.00   2.425
13  StandardChartered     1.435       1.00  ...        1.00      1.00   1.435
14               Yono     1.630       1.00  ...        1.00      1.00   1.630

[15 rows x 8 columns]

In [ ]:
df2 = pd.read_csv("combine_summary.csv")
df2 = pd.merge(df2, df_temp, on="App_x", how='inner')
df2

          App_x  ... Rating
0     Axis Bank  ...      4
1     Axis Bank  ...      1
2     Axis Bank  ...      4
3     Axis Bank  ...      5
4     Axis Bank  ...      1
...         ...  ...    ...
2995       Yono  ...      1
2996       Yono  ...      4
2997       Yono  ...      4
2998       Yono  ...      1
2999       Yono  ...      1

[3000 rows x 13 columns]

In [ ]:
df2 = df2.drop_duplicates(['App_x'], keep='last')
df2 = df2.reset_index()
df2.head()

   index       App_x  ... Rating_y Rating
0    199   Axis Bank  ...        1      5
1    399        Citi  ...        1      2
2    599  Freecharge  ...        1      4
3    799   HDFC Bank  ...        1      1
4    999        HSBC  ...        1      1

[5 rows x 14 columns]

PreTrained BERT Model:

In [ ]:
df["translated_text"][4]

'The food is very tasty, the place is small more very cozy, there are combos and promotions that are very attractive. Super recommend the Yakisoba is a delight'

In [ ]:
df1 = df

In [ ]:
!pip install git+https://github.com/boudinfl/pke.git

Collecting git+https://github.com/boudinfl/pke.git
  Cloning https://github.com/boudinfl/pke.git to /tmp/pip-req-build-bafakw0j
  Running command git clone -q https://github.com/boudinfl/pke.git /tmp/pip-req-build-bafakw0j
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (3.2.5)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (2.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (1.4.1)
Requirement already satisfied: spacy in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (2.2.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (1.15.0)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (0.0)
Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 5.4MB/s
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (0.16.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (0.16.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->pke==1.8.1) (4.4.2)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (1.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (49.2.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (0.7.1)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (3.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (1.0.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (4.41.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (2.23.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (1.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (2.0.3)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (1.1.3)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (7.4.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->pke==1.8.1) (0.22.2.post1)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy->pke==1.8.1) (1.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pke==1.8.1) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pke==1.8.1) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pke==1.8.1) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pke==1.8.1) (1.24.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy->pke==1.8.1) (3.1.0)
Building wheels for collected packages: pke
  Building wheel for pke (setup.py) ... done
  Created wheel for pke: filename=pke-1.8.1-cp36-none-any.whl size=8759829 sha256=391f6dd4b8f3cc2f2c91e8b0e8a35fb49e62b1466128a6068f3fe710793071a3
  Stored in directory: /tmp/pip-ephem-wheel-cache-y8hdc06x/wheels/8d/24/54/6582e854e9e32dd6c632af6762b3a5d2f6b181c2992e165462
Successfully built pke
Installing collected packages: unidecode, pke
Successfully installed pke-1.8.1 unidecode-1.1.1

In [ ]:
import nltk
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.cluster import KMeans
from sklearn.cluster import AffinityPropagation
import re
import pke
import datetime
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
def extract_keyphrases(caption, n):
    extractor = pke.unsupervised.TextRank() 
    extractor.load_document(caption)
    extractor.candidate_selection()
    extractor.candidate_weighting()
    keyphrases = extractor.get_n_best(n=n, stemming=False)
    phrases = []
    for i in range(len(keyphrases)):
      phrases.append(keyphrases[i])
    return(phrases)
a = datetime.datetime.now()    
df2['tag_BERT'] = df2.apply(lambda row: (extract_keyphrases(row['Review'],3)),axis=1)
b = datetime.datetime.now()
df2.head()

WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 1 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 1 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 1 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 1 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 0 given)
WARNING:root:Not enough candidates to choose from (3 requested, 1 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 1 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)
WARNING:root:Not enough candidates to choose from (3 requested, 2 given)

  Country  ...                                           tag_BERT
0   India  ...  [(worst banking app, 0.14513851630227806), (di...
1   India  ...  [(goverment bank sbi application, 0.3741709727...
2   India  ...  [(credit card transactions, 0.252101130336128)...
3   India  ...  [(monthly view statement option, 0.22140741177...
4   India  ...  [(worst banking app, 0.30619885793389157), (su...

[5 rows x 7 columns]

In [ ]:
print("PKE Time duration for 500 reviews")
print(b-a)
pke_time = b-a

PKE Time duration for 500 reviews
0:00:07.969475

In [ ]:
df_tagsPKE = df1[["product_name" , "crayon_product_id" , "Abstract_Keyphrases"]]

In [ ]:
df_tagsPKE

                               product_name  ...                                Abstract_Keyphrases
0                       Baixocesso Pizzaria  ...         [cold beer, good service, various flavors]
1                         California Coffee  ...        [iced coffees, california coffee, day rush]
2    Vikings - Steaks, Seafood & Sandwiches  ...                         [family, friends, weekend]
3                           Tadaki Estrelas  ...          [well varied menu, simple items, minutes]
4                          O Japa - Rosario  ...                    [delight, yakisoba, attractive]
..                                      ...  ...                                                ...
495               Kimura Culinaria Japonesa  ...                  [first ones, second round, items]
496                            Escondidinho  ...  [dry meat hiding place, great request, cozy en...
497                          Total Requinte  ...  [good service, good restaurant, delicious dess...
498                         Lagosta Carioca  ...     [good variety, main attraction, various types]
499                Bar E Restaurante Silver  ...          [notch service, varied cardapio, climate]

[500 rows x 3 columns]

RAKEing Algorithm

In [ ]:
df2 = df

In [ ]:
!pip install rake-nltk

Collecting rake-nltk
  Downloading https://files.pythonhosted.org/packages/8e/c4/b4ff57e541ac5624ad4b20b89c2bafd4e98f29fd83139f3a81858bdb3815/rake_nltk-1.0.4.tar.gz
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from rake-nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->rake-nltk) (1.15.0)
Building wheels for collected packages: rake-nltk
  Building wheel for rake-nltk (setup.py) ... done
  Created wheel for rake-nltk: filename=rake_nltk-1.0.4-py2.py3-none-any.whl size=7819 sha256=74446351448c0adc0fff0ededf9b964b9fa3ee8c6313635fe27ed4a48758f572
  Stored in directory: /root/.cache/pip/wheels/ef/92/fc/271b3709e71a96ffe934b27818946b795ac6b9b8ff8682483f
Successfully built rake-nltk
Installing collected packages: rake-nltk
Successfully installed rake-nltk-1.0.4

In [ ]:
from rake_nltk import Rake,Metric
r = Rake(min_length=2, max_length=3,ranking_metric=Metric.DEGREE_TO_FREQUENCY_RATIO)

In [ ]:
def rake_keyphrases(content , n):
  tag = []
  r.extract_keywords_from_text(content)
  tag = r.get_ranked_phrases_with_scores()
  return tag[:n]
a = datetime.datetime.now()   
df2['tag_RAKE'] = df2.apply(lambda row: (rake_keyphrases(row['Review'],3)),axis=1)
b = datetime.datetime.now() 

print("RAKE Time taken for 500 reviews")
print(b-a)

RAKE Time taken for 500 reviews
0:00:00.950424

In [ ]:
df2

     Country  ...                                           tag_RAKE
0      India  ...  [(9.0, wireless payment ).), (9.0, even intern...
1      India  ...  [(8.5, full functional ????), (8.3333333333333...
2      India  ...  [(9.0, worst app ever), (9.0, last 1 year), (9...
3      India  ...  [(9.0, need lot improvememt), (9.0, every bank...
4      India  ...  [(9.0, apps like hdfc), (7.833333333333334, wo...
...      ...  ...                                                ...
2995   India  ...                            [(4.0, payback points)]
2996   India  ...  [(9.0, supercash policy changed), (9.0, quick ...
2997   India  ...  [(9.0, dont waste time), (8.5, dont provide lo...
2998   India  ...  [(9.0, sent several messages), (9.0, full kyc ...
2999   India  ...  [(9.0, long time ....), (9.0, great update ..)...

[3000 rows x 8 columns]

In [ ]:
df2 = df2[["App","Review","tag_BERT","tag_RAKE","tag_graph"]]

In [ ]:
df2

                App_x  ...                                          tag_graph
0           Axis Bank  ...  [(app, 0.04318062149559546), (bank app, 0.0290...
1                Citi  ...  [(app, 0.03550784790473474), (citi app, 0.0213...
2          Freecharge  ...  [(app, 0.04823647803681848), (freecharge app, ...
3           HDFC Bank  ...  [(app, 0.04476319652826501), (hdfc app, 0.0284...
4                HSBC  ...  [(app, 0.04949935894456424), (hsbc app, 0.0329...
5          ICICI Bank  ...  [(app, 0.04383156141949158), (app issue, 0.027...
6          Kotak Bank  ...  [(app, 0.03589299101903011), (bank app, 0.0262...
7            Mobikwik  ...  [(app, 0.03958099540187532), (mobikwik app, 0....
8               PayTM  ...  [(app, 0.03476398731436446), (paytm app, 0.028...
9             PayZapp  ...  [(app, 0.039180220047305016), (payment app, 0....
10            PhonePe  ...  [(app, 0.0407829707540805), (app developers ap...
11            Pockets  ...  [(app, 0.039214393564578474), (app app, 0.0392...
12          SBI Cards  ...  [(app, 0.04383145470456565), (card app, 0.0338...
13  StandardChartered  ...  [(otp, 0.042562940987515514), (app, 0.03623022...
14               Yono  ...  [(app, 0.04170951800161311), (sbi app, 0.02766...

[15 rows x 5 columns]

In [ ]:
keyphrase["PKETag"] = df_tagsPKE["Abstract_Keyphrases"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
keyphrase

                               product_name  ...                                             PKETag
0                       Baixocesso Pizzaria  ...         [cold beer, good service, various flavors]
1                         California Coffee  ...        [iced coffees, california coffee, day rush]
2    Vikings - Steaks, Seafood & Sandwiches  ...                         [family, friends, weekend]
3                           Tadaki Estrelas  ...          [well varied menu, simple items, minutes]
4                          O Japa - Rosario  ...                    [delight, yakisoba, attractive]
..                                      ...  ...                                                ...
495               Kimura Culinaria Japonesa  ...                  [first ones, second round, items]
496                            Escondidinho  ...  [dry meat hiding place, great request, cozy en...
497                          Total Requinte  ...  [good service, good restaurant, delicious dess...
498                         Lagosta Carioca  ...     [good variety, main attraction, various types]
499                Bar E Restaurante Silver  ...          [notch service, varied cardapio, climate]

[500 rows x 3 columns]

GRAPH BASED

In [ ]:
df['product_name'].value_counts()[:5].sort_values(ascending=False)

Subway                     10
Cacau Show                  7
Chocolates Brasil Cacau     5
Sal Gastronomia             4
Rei do Mate                 4
Name: product_name, dtype: int64

In [ ]:
df3 = df

In [ ]:
def extract_candidate_words(text, good_tags=set(['JJ','JJR','JJS','NN','NNP','NNS','NNPS'])):
    import itertools, nltk, string

    punct = set(string.punctuation)
    stop_words = set(nltk.corpus.stopwords.words('english'))
    tagged_words = itertools.chain.from_iterable(nltk.pos_tag_sents(nltk.word_tokenize(sent) for sent in nltk.sent_tokenize(text)))

    candidates = [word.lower() for word, tag in tagged_words
                  if tag in good_tags and word.lower() not in stop_words
                  and not all(char in punct for char in word)]

    return candidates

In [ ]:
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
def score_keyphrases_by_textrank(text, n_keywords=0.5):
    from itertools import takewhile, tee#, izip
    import networkx, nltk
    
    words = [word.lower()
             for sent in nltk.sent_tokenize(text)
             for word in nltk.word_tokenize(sent)]
    candidates = extract_candidate_words(text)
    graph = networkx.Graph()
    graph.add_nodes_from(set(candidates))

    def pairwise(iterable):
        a, b = tee(iterable)
        next(b, None)
        return zip(a, b)
        
    for w1, w2 in pairwise(candidates):
        if w2:
            graph.add_edge(*sorted([w1, w2]))
    ranks = networkx.pagerank(graph)
    if 0 < n_keywords < 1:
        n_keywords = int(round(len(candidates) * n_keywords))
    word_ranks = {word_rank[0]: word_rank[1]
                  for word_rank in sorted(ranks.items(), key=lambda x: x[1], reverse=True)[:n_keywords]}
    keywords = set(word_ranks.keys())
    keyphrases = {}
    j = 0
    for i, word in enumerate(words):
        if i < j:
            continue
        if word in keywords:
            kp_words = list(takewhile(lambda x: x in keywords, words[i:i+10]))
            avg_pagerank = sum(word_ranks[w] for w in kp_words) / float(len(kp_words))
            keyphrases[' '.join(kp_words)] = avg_pagerank
            j = i + len(kp_words)
    
    return sorted(keyphrases.items(), key=lambda x: x[1], reverse=True)

In [ ]:
import datetime
a = datetime.datetime.now() 

df2['tag_graph'] = df2.apply(lambda row: (score_keyphrases_by_textrank(row['Review'])),axis=1)
b = datetime.datetime.now() 
print(b-a)

0:00:24.556555

In [ ]:
df2.to_excel("tags.xlsx")
from google.colab import files
files.download("tags.xlsx")

In [ ]:
df2.tail()

           App  ...                                          tag_graph
2995  Mobikwik  ...  [(payments, 0.19939773459751797), (payback poi...
2996  Mobikwik  ...  [(quick payment, 0.1421904374218091), (superca...
2997  Mobikwik  ...  [(loan, 0.14429135857755243), (provode loan, 0...
2998  Mobikwik  ...  [(app, 0.06502933142602284), (error, 0.0633131...
2999  Mobikwik  ...  [(app, 0.07306122837355379), (great, 0.0411169...

[5 rows x 5 columns]

In [ ]:
#keyphrase["tag_graph"] = df2["tag_graph"]
for j in range(len(df2)):
  tag = []
  for i in df2["tag_graph"][j]:
    tag.append(i[0])
    df2["tag_graph"][j] = tag
  #df2["tag_graph"][0][0][0]

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df2

                App_x  ...                                          tag_graph
0           Axis Bank  ...  [app, bank app, axis app, mobile app, good app...
1                Citi  ...  [app, citi app, good app, app unable, citibank...
2          Freecharge  ...  [app, freecharge app, good app, payment app, u...
3           HDFC Bank  ...  [app, hdfc app, bank app, good app, new app, o...
4                HSBC  ...  [app, hsbc app, banking app, new app, worst ap...
5          ICICI Bank  ...  [app, app issue, banking app, good app, app ve...
6          Kotak Bank  ...  [app, bank app, kotak app, banking app, good a...
7            Mobikwik  ...  [app, mobikwik app, worst app, upi app, good a...
8               PayTM  ...  [app, paytm app, app problem, app update, payt...
9             PayZapp  ...  [app, payment app, payzapp app, app recharge, ...
10            PhonePe  ...  [app, app developers app, bank app, problem ap...
11            Pockets  ...  [app, app app, app money, pockets app, wallet ...
12          SBI Cards  ...  [app, card app, sbi app, app issue, sbi card a...
13  StandardChartered  ...  [otp, app, login otp, otp login, time otp, app...
14               Yono  ...  [app, sbi app, time app, bank app, yono app, t...

[15 rows x 5 columns]